#content h1 {
    text-align: center;
    background: cyan;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    color: black;
    text-transform: uppercase;
    margin-bottom: 40px;
    margin-left: 75px;
    margin-right: 75px;
}

h2 {
    text-align: center;
}

#content {
    margin-top: 40px;
}

.checked-task,
.checked-task:hover {
    float: right;
    cursor: pointer;
    color: aqua;
    font-size: 18px;
    font-weight: bold;
    padding-right: 5px;
}

.remove-task,
.remove-task:hover {
    float: right;
    cursor: pointer;
    color: red;
    font-size: 18px;
    font-weight: bold;
    padding-left: 5px;
}

.complete-task,
.complete-task:hover {
    cursor: pointer;
    color: gray;
    text-decoration-line: line-through;
}
